/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* :root.theme-light {
  сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
 
} */

.page.theme_light {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --back-img: url(../images/cover-image-light.png);
  --back-color: var(#fff1f7);
  --rec-decor: hidden;

  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-accent-color: #353430;
  --text-color: #353430;
  --shadow-color: #ff0070;
  --shadow-second-color: #ff8dcb;
  --decor-color: #353430;
  --button-color: #353430;
  --hover-color: #32312d66;
}

@media (prefers-color-scheme: light) {
  :root {
    --back-img: url(../images/cover-image-light.png);
    --back-color: var(#fff1f7);
    --rec-decor: hidden;

    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-accent-color: #353430;
    --text-color: #353430;
    --shadow-color: #ff0070;
    --shadow-second-color: #ff8dcb;
    --decor-color: #353430;
    --button-color: #353430;
    --hover-color: #32312d66;
  }
}
