.page {
  font-family: var(--font-family, 'IBM Plex mono', monospace);
  background-color: var(--bg-color, #000028);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--color-shadow-second, #FF0070);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  background-image: var(--bg-image, url(../images/cover-image.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 35px;
  border-top: 1px solid var(--color-button, #FF0070);
  border-right: 1px solid var(--color-button, #FF0070);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 35px;
  border-left: 1px solid var(--color-button, #FF0070);
  border-bottom: 1px solid var(--color-button, #FF0070);
  left: 10px;
  bottom: 10px;
}

.rec-decor {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-accent, #FF0070);
  box-shadow: 0 0 4px 2px var(--color-accent, #FF0070);
  top: 18px;
  right: 19px;
  visibility: var(--rec-decor, visibile);
}

.rec-decor::after {
  position: absolute;
  content: 'REC';
  text-transform: uppercase;
  color: var(--color-accent, #FF0070);
  font-size: 18px;
  right: 19px;
  top: -7px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
  margin-top: -3px;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--color-button, #FF0070);
  padding: 0 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--color-hover, #FF007066);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-button, #FF0070);
  pointer-events: none
}

.header-title {
  color: var(--color-title, #DB00FF);
  text-shadow: 4px 4px var(--color-shadow-second, #FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header-text {
  background-color: var(--color-accent, #FF0070);
  color: var(--color-decor, #000028);
  font-weight: 700;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.list {
  display: grid;
  gap: 20px;
}

.title {
  color: var(--color-title-accent, #FF0070);
  font-weight: 700;
}

.title__decor {
  background-color: var(--color-accent, #FF0070);
  color: var(--color-decor, #000028);
  margin-bottom: 10px;
}

.text {
  color: var(--color-text, #F1B2CE);
}

.section__gold h4 {
  font-weight: 400;
}

.section__gold h3 {
  margin-bottom: 20px;
}

.section__gallery {
  display: grid;
  gap: 10px;
}

.gallery__title {
  margin-bottom: 0;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px var(--color-shadow-second, #FF0070);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
  
  .rec-decor {
    top: 28px;
    right: 29px;
  }

  .rec-decor::after {
    right: 19px;
    top: -6px;
  }

  .header-title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-shadow: 4px 4px var(--color-shadow-second, #FF0070);
  }

  .header-text {
    max-width: 364px;
    margin-left: auto;
  }

  .main {
    display: grid;
    gap: 80px;
    padding: 60px 20px 60px 20px;
  }

  .focus__section {
    display: flex;
    gap: 20px;
  }

  .focus__section-title {
    min-width: 236px;
  }

  .section__concentration-title {
    max-width: 236px;
  }

  .section__gold {
    display: flex;
    gap: 20px;
  }

  .section__gold-title {
    min-width: 236px;
  }

  .section__gallery {
    display: grid;
    gap: 20px;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }

  .footer__title {
    text-shadow: 2px 2px var(--color-shadow-second, #FF0070);
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .header-title {
    text-shadow: 4px 4px var(--color-shadow, #FF0070);
  }

  .header-text {
    min-width: 491px;
  }

  .focus__section-title {
    min-width: 315px;
  }

  .section__concentration-title {
    max-width: 315px;
  } 

  .section__concentration-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section__gold-title {
    min-width: 315px;
  }

  .gallery__image:nth-child(1) {
    height: clamp(12rem, -0.75rem + 26.5625vw, 16.25rem);
  }

  .gallery__image:nth-child(2) {
    height: clamp(27.5625rem, -1.3125rem + 60.1563vw, 37.1875rem);
  }

  .gallery__image:nth-child(3) {
    height: clamp(35.5rem, -2rem + 78.125vw, 48rem);
  }

  .gallery__image:nth-child(4) {
    height: clamp(14.375rem, -1.5625rem + 33.2031vw, 19.6875rem);
  }

  .gallery__image:nth-child(5) {
    height: clamp(19.875rem, -0.75rem + 42.9688vw, 26.75rem);
  }

  .footer__title {
    text-shadow: 2px 2px var(--color-shadow, #FF0070);
  }
}
